<ul>
<% @teams.each do |team|  %>
    <li><%= team.name %> | 
        <% team.team_submissions.each do |team_submission| %>
            <%= team_submission.contest_rank %> |
        <% end %>

        <% team.memberships.where(member_type: "StudentProfile").each do |studentMembership| %>
            <% studentProfile = StudentProfile.find_by_id(studentMembership.member_id) %>
            <% studentMembership.id %>
            <% unless  studentProfile.nil?  %>
                <%= Account.find(studentProfile.account_id).first_name %>
            <% end %>
        <% end %>

        
    </li>
<% end %>
</ul>