<ul>
<% @teams.each do |team|  %>
    <li><%= team.name %> | 
        <% team.team_submissions.each do |team_submission| %>
            <%= team_submission.contest_rank %>
        <% end %>
    </li>
<% end %>
</ul>